<p>
Wellcome to Sensor Admin Panel. An example of panel administrator for manage sensor values that uses the Bootstrap SB Admin Base V2 theme.
</p>
<p>
  You could find the Rails gem of this theme <%= link_to 'here', 'https://github.com/dreamingechoes/bootstrap_sb_admin_base_v2', target: '_blank' %>
</p>
