<% content_for(:page_header) do %>
  <%= "User profile" %>
<% end %>
<% content_for :panel_heading do %>Details<% end %>

<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
